.container {
   background-color: #333;
   color: rgb(0, 0, 0);
   height: 400px;
   padding: 10px;

   display: grid;

   gap: 10px;

   grid-template-areas:
      "a2 a2 a2 a2"
      "a1 a1 a3 a3"
      "a4 a4 a4 a5"
      "a6 a6 a6 a6";

   /* 
   Grid area especifica o tamanho e localização de um item do grid dentro de uma grade, contribuindo com uma linha, uma extensão ou nada (automático) para sua colocação de grade, especificando assim as bordas de sua área de grade 
   No grid area você nomeia cada elemento que vai fazer parte do grid área dentro dos seus respectivos seletores
   dentro do container dos elementos você define onde cada elemento vai ficar e quanto ele vai ocupar dentro dessa área
   como no exemplo acima. O a1 tem 2/4 da segunda linha e o a5 tem 1/4 da terceira linha. 
   Isso deixa bem simples de organizar uma área de fotos ou elementos.
   
    */
}

.r1 {
   background-color: violet;
}

.r2 {
   background-color: wheat;
}
.r3 {
   background-color: turquoise;
}

.item1 {
   grid-area: a1;
}
.item2 {
   grid-area: a2;
}
.item3 {
   grid-area: a3;
}
.item4 {
   grid-area: a4;
}
.item5 {
   grid-area: a5;
}
.item6 {
   grid-area: a6;
}
