* {
  box-sizing: border-box;
}

body {
  background-color: teal;
}

main {
  margin: auto;
  width: 18rem;
  height: 20rem;
  padding: 20px;
  padding-top: 10px;

  background-color: #fff;
  text-align: center;
  border: 0px;
  border-radius: 10%;
}
